<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:o="http://omnifaces.org/ui">
    <h:head>
        <title>Events</title>
    </h:head>
    <h:body>
        <h:form id="form">
            <o:socket channel="sessionEvent" scope="session">
                <p:ajax update="form" event="sessionEvent"/>
            </o:socket>
            <o:socket channel="appEvent" scope="application">
                <p:ajax update="form" event="appEvent"/>
            </o:socket>
            <p:panel id="panel">
                <p:commandButton value="Request Event" action="#{eventsBean.fireRequestEvent()}" />
                <p:commandButton value="Session Event" action="#{eventsBean.fireSessionEvent()}" />
                <p:commandButton value="Application Event" action="#{eventsBean.fireApplicationEvent()}" />
                <p:commandButton value="EJB Event" action="#{eventsBean.fireEjbEvent()}" />
                <p:commandButton value="Async EJB Event" action="#{eventsBean.fireAsyncEjbEvent()}" />
                <p:commandButton value="Propagated Async EJB Event" action="#{eventsBean.firePropagatingAsyncEjbEvent()}" />
                <p:dataTable id="sessionTable" value="#{eventSessionBean.sessionEvents}" var="sess">
                    <f:facet name="header">
                        Session Events
                    </f:facet>
                    <p:column headerText="Jméno">
                        <p:outputLabel value="#{sess.name}" />
                    </p:column>
                    <p:column headerText="Zpráva">
                        <p:outputLabel value="#{sess.text}" />
                    </p:column>
                    <p:column headerText="Datum odeslání">
                        <p:outputLabel value="#{sess.dateOfSent}" >
                        </p:outputLabel>
                    </p:column>
                </p:dataTable>
                <br/>
                <br/>
                <p:dataTable id="applicationable" value="#{eventAplicationBean.appEvents}" var="app">
                    <f:facet name="header">
                        Application Events
                    </f:facet>
                    <p:column headerText="Jméno">
                        <p:outputLabel value="#{app.name}" />
                    </p:column>
                    <p:column headerText="Zpráva">
                        <p:outputLabel value="#{app.text}" />
                    </p:column>
                    <p:column headerText="Datum odeslání">
                        <p:outputLabel value="#{app.dateOfSent}" >
                        </p:outputLabel>
                    </p:column>
                </p:dataTable>
            </p:panel>
        </h:form>
    </h:body>
</html>

