<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:o="http://omnifaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
            <p:button outcome="events" value="event tester"/><br/><br/>
            <p:growl keepAlive="true" />
            <p:inputText placeholder="Jméno" value="#{messageBean.name}" />&nbsp;
            <p:inputText placeholder="Zpráva" value="#{messageBean.text}" />&nbsp;
            <p:commandButton id="cb" value="Odešli zprávu všem" action="#{messageBean.sendMessage()}" ajax="true"/>
            <p:commandButton id="bb" value="Odešli zprávu jen mě" action="#{sessionBean.sessPush()}" ajax="true"/>
            <p:commandButton id="cc" value="Event proces" action="#{messageBean.fireEvent()}" ajax="true" async="true"/>

            <o:socket channel="chnl" >
                <p:ajax update="messages" event="ggg"/>
            </o:socket>

            <o:socket channel="session" scope="session">
                <p:ajax update="sessionMessages" event="eventName"/>
            </o:socket>

            <br />
            <p:dataTable id="messages" value="#{reactiveBean.messages}" var="msg">
                <f:facet name="header">
                    Veřejné zprávy
                </f:facet>
                <p:column headerText="Jméno">
                    <p:outputLabel value="#{msg.name}" />
                </p:column>
                <p:column headerText="Zpráva">
                    <p:outputLabel value="#{msg.text}" />
                </p:column>
                <p:column headerText="Datum odeslání">
                    <p:outputLabel value="#{msg.dateOfSent}" >
                    </p:outputLabel>
                </p:column>

            </p:dataTable>
            <br />
            <br />
            <p:dataTable id="sessionMessages" value="#{sessionBean.sessMessages}" var="msg">
                <f:facet name="header">
                    Moje zprávy
                </f:facet>
                <p:column headerText="Jméno">
                    <p:outputLabel value="#{msg.name}" />
                </p:column>
                <p:column headerText="Zpráva">
                    <p:outputLabel value="#{msg.text}" />
                </p:column>
                <p:column headerText="Datum odeslání">
                    <p:outputLabel value="#{msg.dateOfSent}" >
                    </p:outputLabel>
                </p:column>

            </p:dataTable>
            <br />
        </h:form>
    </h:body>
</html>

